In [ ]:
#Get the database
import pandas as pd
df = pd.read_csv('base_education.csv')
print(df.head())

       STRUCTURE                STRUCTURE_ID ACTION FREQ FREQ_LABEL REF_AREA  \
0  datastructure  WB.DATA360:DS_DATA360(1.2)      I   _O      Other      ALB
1  datastructure  WB.DATA360:DS_DATA360(1.2)      I   _O      Other      ALB
2  datastructure  WB.DATA360:DS_DATA360(1.2)      I   _O      Other      ALB
3  datastructure  WB.DATA360:DS_DATA360(1.2)      I   _O      Other      ALB
4  datastructure  WB.DATA360:DS_DATA360(1.2)      I   _O      Other      ALB

  REF_AREA_LABEL                             INDICATOR  \
0        Albania  WB_SSGD_PCT_POP_PRIMARY_EDU_COMPLETE
1        Albania  WB_SSGD_PCT_POP_PRIMARY_EDU_COMPLETE
2        Albania  WB_SSGD_PCT_POP_PRIMARY_EDU_COMPLETE
3        Albania  WB_SSGD_PCT_POP_PRIMARY_EDU_COMPLETE
4        Albania  WB_SSGD_PCT_POP_PRIMARY_EDU_COMPLETE

                                     INDICATOR_LABEL SEX  ... UNIT_MULT_LABEL  \
0  Percentage of population with completed primar...  _T  ...           Units
1  Percentage of population with completed primar...   M  ...           Units
2  Percentage of population with completed primar...  _T  ...           Units
3  Percentage of population with completed primar...   M  ...           Units
4  Percentage of population with completed primar...  _T  ...           Units

  UNIT_TYPE UNIT_TYPE_LABEL TIME_FORMAT TIME_FORMAT_LABEL COMMENT_OBS  \
0     RATIO           Ratio         602              CCYY         NaN
1     RATIO           Ratio         602              CCYY         NaN
2     RATIO           Ratio         602              CCYY         NaN
3     RATIO           Ratio         602              CCYY         NaN
4     RATIO           Ratio         602              CCYY         NaN

  OBS_STATUS OBS_STATUS_LABEL OBS_CONF OBS_CONF_LABEL
0          A     Normal value       PU         Public
1          A     Normal value       PU         Public
2          A     Normal value       PU         Public
3          A     Normal value       PU         Public
4          A     Normal value       PU         Public

[5 rows x 40 columns]

In [8]:
#Get the interesting columns
df = df[['REF_AREA_LABEL', 'SEX_LABEL', 'AGE_LABEL', 'URBANISATION_LABEL', 'TIME_PERIOD', 'OBS_VALUE']]

In [9]:
print(df.head())

  REF_AREA_LABEL SEX_LABEL                              AGE_LABEL  \
0        Albania     Total                     15 to 29 years old
1        Albania      Male  All age ranges or no breakdown by age
2        Albania     Total                  60 years old and over
3        Albania      Male  All age ranges or no breakdown by age
4        Albania     Total  All age ranges or no breakdown by age

  URBANISATION_LABEL  TIME_PERIOD  OBS_VALUE
0              Total         2020  99.497902
1              Total         2020  79.654404
2              Total         2018  75.268616
3              Total         2018  77.269592
4              Total         2018  76.535759

In [10]:
# Find the missing values
print(df.isnull().sum())

REF_AREA_LABEL        0
SEX_LABEL             0
AGE_LABEL             0
URBANISATION_LABEL    0
TIME_PERIOD           0
OBS_VALUE             0
dtype: int64

In [11]:
#Save the cleaned data
df.to_csv('base_education_cleaned.csv', index=False)